body{
	font:14px/1.3em 'Lato',sans-serif;
	overflow-y:scroll; 
}


.page{
	/*max-width: 800px;*/
	width: 92%;
	margin: 20px auto;
}
h1{
	font-size: 20px;line-height: 1.3em;margin-bottom: 20px;
}

canvas{
	background-color: #FFF;
}

.core{
	width: 260px;
}
.core img{
	width: 100% !important;
	height: auto !important;
}